@font-face {
    font-family: "Rebond-Grotesque-Light";
    src: url("./assets/fonts/Rebond Grotesque Light.otf");
}

@font-face {
    font-family: "Rebond-Grotesque-Regular";
    src: url("./assets/fonts/Rebond Grotesque Regular.otf");
}

@font-face {
    font-family: "Rebond-Grotesque-Medium";
    src: url("./assets/fonts/Rebond Grotesque Medium.otf");
}

@font-face {
    font-family: "Rebond-Grotesque-Semibold";
    src: url("./assets/fonts/Rebond Grotesque Semibold.otf");
}

@font-face {
    font-family: "Rebond-Grotesque-Bold";
    src: url("./assets/fonts/Rebond Grotesque Bold.otf");
}