$primary: #3C1663;
$lightprimary: #8940d5;
$secondary: #000;
$white: #fff;
$grey: #5D5367;
$lightgrey: #E9E9E9;
$lightgrey2: #F5F3F6;
$universal: #6d7078;
$sky: #C9F0F2;
$orange: #EE6307;
$success: #1E9B00;
$danger: #BB2020;
$pink: #E31C3D;
$parrot: #417D28;
$transparent: rgba(0, 0, 0, 0.0);
